.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    min-height: 1px;
    padding-left: 0px!important;
    padding-right: 0px!important;
    position: relative;
    width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px!important;
    margin-right: 0px!important;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    margin-top: 0;
}
p {
    margin-bottom: 0.09rem!important;
    margin-top: 0;
}



.modal {
    bottom: 0;
    left: 0;
    outline-color: currentcolor;
    outline-style: none;
    outline-width: 0;
    position: fixed;
    right: 0;
    top: 30px;
    z-index: 0;
}
/* Modal Content */
#login-modal .modal-dialog {
    width: 100%;
}
.modal-content {

    background-color: #ececec;
    border:1px solid #bdc3c7;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-radius: 0;
    margin-top: 30px;
    outline-color: currentcolor;
    outline-style: none;
    outline-width: 0;
    width: 100%;
}
.modal-2 {
    bottom: 0;
    left: 0;
    outline-color: currentcolor;
    outline-style: none;
    outline-width: 0;
    position: fixed;
    right: 0;
    top: 30px;
    z-index: 2;
}
.modal-3 {
    bottom: 0;
    left: 0;
    outline-color: currentcolor;
    outline-style: none;
    outline-width: 0;
    position: fixed;
    right: 0;
    top: 30px;
    z-index: 3;
    color: #333;
}
.modal-3 .modal-header{
    color: #20A8D8;
    font-weight: 600;
}
.modal-3 .modal-header h5{
    font-size: 14px;
    font-weight: 600;
}
.modal-3 .modal-body{
    padding: 0;
}
ul.bet-select {
    margin: 0;
    padding: 0;

}
ul.bet-select li{
    padding: 8px 0;
    display:block;
    border-bottom:1px solid #ddd;

}
ul.bet-select li:last-child {
    border-bottom:none;
}

ul.bet-select li a{
    padding: 10px 15px;
    color: #333;

}
ul.bet-select li a:hover{
    /*font-weight: 600;*/
    /*font-size: 14px;*/
}
ul.bet-select li a:active,ul.bet-select li a:hover, ul.bet-select li a:focus{
    border-left: 3px solid #00aced;
}
.c-link{
    color: #fff;
    padding: 8px 15px;
}
.c-link:hover{
    background-color: #008abb;
    color: #fff;
    padding: 8px 15px;
}
.nav-pills-bg{
    background-color: #20A8D8;
}





.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    white-space: nowrap;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 5px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;


}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: auto;
}
.tabcontent h5{
    font-weight: 600;
    padding: 5px 10px;
    color: #333;
    border-left: 3px solid #20A8D8;
    margin-bottom: 2px;
    background-color: #CCCCCC;
}















.modal-backdrop {
    background-color: #000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 0 !important;
}

#login-modal input[type="text"], input[type="password"] {
    margin-top: 10px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.card-2{
    background-color: #666666;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.navbar-nav .nav-link, .navbar-nav .navbar .dropdown-toggle, .navbar .navbar-nav .dropdown-toggle {
    color: #fff;
}

.app-header.navbar .navbar-toggler-icon {
    background-image: url('../img/menu.png') !important;
    height: 20px;
    width: 20px;
}

.app-header.navbar .navbar-toggler:hover .navbar-toggler-icon {
    background-image: url("../img/menu2.png") !important;
    height: 20px;
    width: 20px;
}
.bet-slip .btn-warning {
    width: 40%;
    font-weight: 600;
    margin: 0 auto;
    border-radius: 4px;
}
/*.bet-slip{*/
/*display: none;*/
/*}*/
.card {
    -moz-border-colors: none;
    background-clip: border-box;
    background-color: #666;
    border: 1px solid #919191;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    overflow-wrap: break-word;
    position: relative;
    margin: 0!important;
    padding: 0!important;
    color: #fff;
}
.card-header-blu-lg h4{
    color: #fff;
}


.card-body-sm, .card-block-sm {
    background-color: #666666 !important;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    padding-bottom: 1.0rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
}

.card-body-0-pad, .card-block-0-pad {
    background-color:#666666;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    padding:0;
}

.card-header-yollow-lg {
    background-color: #ff8400;
    border:1px solid #a6e1ec;
    padding: 0.60rem 1.25rem;
    color: #fff;
}
.card-header-yollow-md {
    background-color: #ff8400;
    border:1px solid #a6e1ec;
    padding: 0.40rem 1.25rem;
    color: #fff;
}
.card-header-yollow-sm {
    background-color: #ff8400;
    border:1px solid #a6e1ec;
    padding: 0.20rem 1.25rem;
    color: #fff;
}


.card-header-ymatt-lg {
    background-color: #7d4700;
    border:1px solid #a6e1ec;
    padding: 0.60rem 1.25rem;
    color: #fff;
}
.card-header-ymatt-md {
    background-color: #7d4700;
    border:1px solid #a6e1ec;
    padding: 0.40rem 1.25rem;
    color: #fff;
}
.card-header-ymatt-sm {
    background-color: #7d4700;
    border:1px solid #a6e1ec;
    padding: 0.20rem 1.25rem;
    color: #fff;
}



.card-header-grn-lg {
    background-color: #2eae2e;
    border:1px solid #a6e1ec;
    padding: 0.60rem 1.25rem;
    color: #fff;
}
.card-header-grn-md {
    background-color: #2eae2e;
    border:1px solid #a6e1ec;
    padding: 0.40rem 1.25rem;
    color: #fff;
}
.card-header-grn-sm {
    background-color: #2eae2e;
    border:1px solid #a6e1ec;
    padding: 0.20rem 1.25rem;
    color: #fff;
}
.card-header-blu-lg {
    background-color: #1e9ecb;
    border:1px solid #a6e1ec;
    padding: 0.60rem 1.25rem;
    color: #fff;
}
.card-header-blu-md {
    background-color: #1e9ecb;
    border:1px solid #a6e1ec;
    padding: 0.40rem 1.25rem;
    font-size: 15px;
    color: #fff;
}
.card-header-blu-sm {
    background-color: #1e9ecb;
    border:1px solid #a6e1ec;
    padding: 0.20rem 1.25rem;
    color: #fff;
}

.card-header-mtgrn-lg {
    background-color: #5F6E37;
    border:1px solid #a6e1ec;
    padding: 0.60rem 1.25rem;
    color: #fff;
}
.card-header-mtgrn-md {
    background-color: #5F6E37;
    border:1px solid #a6e1ec;
    padding: 0.40rem 1.25rem;
    color: #fff;
}
.card-header-mtgrn-sm {
    background-color: #5F6E37;
    border:1px solid #a6e1ec;
    padding: 0.20rem 1.25rem;
    color: #fff;
}

.card-header-lg {
    margin-bottom: 0;
    padding: 0.60rem 1.25rem;
    color:#fff;
}
.card-header-md {
    margin-bottom: 0;
    padding: 0.40rem 1.25rem;
    color:#fff;
}
.card-header-sm {
    margin-bottom: 0;
    padding: 0.20rem 1.25rem;
    color:#fff;
}

.card-header-ash-lg {
    background-color: #7c868a;
    border:1px solid #d5d9de;
    margin-bottom: 0;
    padding: 0.60rem 1.25rem;
    color:#fff;
}
.card-header-ash-md {
    background-color: #7c868a;
    border:1px solid #d5d9de;
    margin-bottom: 0;
    padding: 0.40rem 1.25rem;
}
.card-header-ash-sm {
    background-color: #7c868a;
    border:1px solid #d5d9de;
    margin-bottom: 0;
    padding: 0.20rem 1.25rem;
}
.card-header-dark-lg {
    background-color: #404040;
    border:1px solid #727578;
    margin-bottom: 0;
    padding: 0.60rem 1.25rem;
    color: #fff;
}

.card-header-dark-xl {
    background-color: #404040;
    border:1px solid #727578;
    margin-bottom: 0;
    padding: 0.75rem 1.25rem;
    color: #fff;
}
.card-header-dark-md {
    background-color: #404040;
    border:1px solid #727578;
    margin-bottom: 0;
    padding: 0.40rem 1.25rem;
    color: #fff;
}
.card-header-dark-sm {
    background-color: #404040;
    border:1px solid #727578;
    margin-bottom: 0;
    padding: 0.20rem 1.25rem;
    color: #fff;
}

.card-header-dark-lg {
    background-color: #4d4d4d;
    border:1px solid #727578;
    margin-bottom: 0;
    padding: 0.60rem 1.25rem;
    color: #fff;
}

.card-header-ldark-xl {
    background-color: #4d4d4d;
    border:1px solid #727578;
    margin-bottom: 0;
    padding: 0.75rem 1.25rem;
    color: #fff;
}
.card-header-ldark-md {
    background-color: #4d4d4d;
    border:1px solid #727578;
    margin-bottom: 0;
    padding: 0.40rem 1.25rem;
    color: #fff;
}
.card-header-ldark-sm {
    background-color: #4d4d4d;
    border:1px solid #727578;
    margin-bottom: 0;
    padding: 0.20rem 1.25rem;
    color: #fff;
}



.card-header-hash-lg {
    background-color: #4D4D4D;
    border: 1px solid #ddd;
    margin-bottom: 0;
    padding: 0.60rem 1.25rem;
}

.card-header-hash-md {
    background-color: #4D4D4D;
    border: 1px solid #838383;
    margin-bottom: 0;
    padding: 0.40rem 1.25rem;
}
.card-header-hash-md {
    background-color: #4D4D4D;
    border: 1px solid #838383;
    margin-bottom: 0;
    padding: 0.20rem 1.25rem;
}
.card-header-wh-lg{
    background-color: #f0f3f5;
    border-bottom-color: #c2cfd6;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 0;
    padding-bottom: 0.65rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.65rem;
}
.your-balance table a {
    color: #0b0e0f;
}

.card-header-gray-lg {
    background-color: #838383;
    border:1px solid #a6e1ec;
    margin-bottom: 0;
    padding: 0.60rem 1.25rem;
}
.card-header-gray-md {
    background-color: #838383;
    border:1px solid #a6e1ec;
    margin-bottom: 0;
    padding: 0.40rem 1.25rem;
}
.card-header-gray-sm {
    background-color: #838383;
    border:1px solid #a6e1ec;
    margin-bottom: 0;
    padding: 0.20rem 1.25rem;
}
.card-header-gray-mini {
    background-color: #b7b7b7;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    margin-bottom: 0;
    padding: 0.03rem 0.3rem;
    font-size: 13px;
    color: #333;
}

.ziro-padding{
    padding: 0!important;
}
.my-bet{
    width: 100%;
    min-height:400px;
    text-align: center;
    color: #fff;
}
.acordion-container a {
    text-decoration: none;
    color: #ddd;
}
.card-header-blu-lg .diposite a{
    color: #fff
;
}
.acordion-container h5{
 font-size: 16px;
 font-weight: 500;
}

.fa-border{
    border-right: 1px solid #ccc;
    padding: 5px;
}

/*Horror Section*/
.horoscope_section {
    width: 100%;
    height: 100px;
    margin-top:-8px;
    margin-bottom: -10px;
    padding: 0;
}

.horoscope_section ul {
    margin: 0;
    padding: 0!important;
}

.horoscope_section ul li {
    float: left;
    list-style-image: none;
    list-style-position: outside ;
    list-style-type: none;
    padding-top: 5px;
    margin:0 2px;
    background-color:#585858;
    width:80px;
    border: 1px solid #858585;
}
.horoscope_section ul li a {
    text-decoration: none;
}

.horoscope_section ul li a img {
    display: block;
    height: 45px;
    width: 45px;
    margin: 5px auto;
}

.horoscope_section ul li a p {
    color: #fff;
    display: block;
    text-align: center;
}

div.horoscope_section fieldset.horoDesc {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border: 1px solid #eee;
    margin-bottom: 5px;
    padding: 10px;
}

div.horoscope_section legend {
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    color: #337ab7;
    font-size: 18px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
    width: auto;
}

div.horoscope_section .horo_summary {
    display:none;
    /*position: relative;*/
    width: 100%;
    height: auto;
}
.modal-sm {
    max-width: 60%;
    margin: 0 auto;
}

.table td:active, .table td:focus{
    background-color: #999;
}

div.horoscope_section .horo_active {
    display: block;

}

.vid-container iframe, .vid-container object, .vid-container embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.vid-list-container {
    margin-left: 0;
    margin-top: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}

.vid-list-container-2 {
    margin-left: 0;
    margin-top: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 20px;
    width: 100%;
}

.vid-list {
    left: 0;
    position: relative;
    top: 0;
    width: 2000px;
}

.vid-item {
    display: block;
    float: left;
    height: 140px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    width: 145px;
}

.thumb {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: #999;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #999;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #999;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #999;
    border-top-style: solid;
    border-top-width: 1px;
    height: 84px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.thumb img {
    position: relative;
    top: -9px;
    width: 100%;
}

.vid-item .desc {
    color: #21a1d2;
    font-size: 15px;
    margin-top: 5px;
}

.vid-item:hover {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #eee;
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    cursor: pointer;
}

.arrows {
    position: relative;
    width: 100%;
}

.arrow-left {
    background-color: #20A8D8;
    color: #fff;
    cursor: pointer;
    left: 5px;
    padding: 4px 3px;
    position: absolute;
    top: -55px;
    z-index: 99;
}

.arrow-right {
    background-color: #20A8D8;
    color: #fff;
    cursor: pointer;
    padding: 4px 3px;
    position: absolute;
    right: 5px;
    top: -55px;
    z-index: 99;
}

.arrow-left:hover {
    color: #EC9720;
    background-color: #2095d8;
}

.arrow-right:hover {
    color: #EC9720;
    background-color: #2095d8;
}

.table-lg th, .table-lg td {
    border-top-color: #a4b7c1!important;
    border-top-style: solid!important;
    border-top-width: 1px!important;
    vertical-align: top;
    padding: 17px 5px ;

}

.table-md th, .table-md td {
    border-top-color: #a4b7c1;
    border-top-style: solid;
    border-top-width: 1px;
    padding: 0.60rem 0.75rem;
    vertical-align: top;
}
.table-xl th, .table-xl td {
    border-top-color: #a4b7c1;
    border-top-style: solid;
    border-top-width: 1px;
    /*padding: 26px 0.75rem;*/
    padding: 1.67rem 0.75rem;;
    vertical-align: top;
}
.table-borderless th, .table-borderless td {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border: none!important;
}
table.table-0 th, table.table-0 td {
    padding: 0.10rem;
    vertical-align: top;
}
.bm-status{width: 100%;color: #fff}

.table th,.table td a{
    color: #fff;
}

.acordion-container {
    width: 100%;
    min-height: 400px;
    margin: 0;
    padding: 0;
    background-color: #666;
}
.border-left-blue {
    border-left: 3px solid #1267a3;
}
.border-left-gld {
    border-left: 3px solid #df6101;
}
.border-left-green {
    border-left: 3px solid #00a67c;
}
.border-left-red {
    border-left: 3px solid #761c19;
}
.card-header-tb-sm p a{
    color: #fff;
}
.white {
    color: #fff !important;
}

.gold {
    color: #ffd519!important;
}
.go-up {
    background-color: #999;
    bottom: 15px;
    color: #34495E;
    cursor: pointer;
    font-size: 25px;
    height: 40px;
    line-height: 37px;
    position: fixed;
    right: -60px;
    text-align: center;
    width: 40px;
    z-index: 9999;
}

.go-up:hover {
    background-color: #ccc;
}

.margin-top-10{
    margin-top: 10px;
}

.card-header-ash-md a{
    color: #fff!important;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.card-header-l-ash h5 a {
    color: #ffff00;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}
.card-header-ash {
    background-color: #838383;
    border:1px solid #acacac;
    margin-bottom: 0;
    padding: 0.75rem 1.25rem;
}


.card-header-dark a{
    color: #fff!important;
}
/*.card-header-sm {*/
/*background-color: #1e9ecb;*/
/*border:1px solid #21a8d8;*/
/*margin-bottom: 0;*/
/*padding: 0.10rem 1.25rem;*/
/*color: #fff;*/
/*}*/

/*.card-header-md {*/
/*background-color: #1e9ecb;*/
/*border:1px solid #21a8d8;*/
/*margin-bottom: 0;*/
/*padding: 0.55rem 1.25rem;*/
/*color: #fff;*/
/*}*/

.card-body, .card-block {
    background-color:#666666;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 1.25rem 1.25rem;
}
.card-body-wh, .card-block-wh {
    background-color:#fff;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 1.25rem 1.25rem;
    color: #333;
}
.table a{
    color: #fff;
}

.card-header-primary {
    background-color: #1e9ecb;
    border:1px solid #21a8d8;
    padding-bottom: 0.50rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.50rem;
}


.card .bg-primary .card-header {
    background-color: #21a8d8;
    border-color: #ffdc72;
}

.card.bg-ash .card-header {
    background-color: #363f45;
    border-color: #616e76;
}

.card.bg-dp-purple .card-header {
    background-color: #6639b6;
    border-color: #946cdc;
}

.card.bg-lime .card-header {
    background-color: #ccdb38;
    border-color: #dce396;
}

.card.bg-blue-gry .card-header {
    background-color: #5f7c8a;
    border-color: #81a5b7;
}

.card.bg-dark .card-header {
    background-color: #4c5358;
    border-color: #74797d;
}

.card.bg-red .card-header {
    background-color: #f34235;
    border-color: #ef5e53;
}

.card.bg-indigo .card-header {
    background-color: #3e50b4;
    border-color: #5469d9;
}

.card.bg-success .card-header {
    background-color: #44b76c;
    border-color: #379457;
}

.card.bg-gray .card-header {
    background-color: #9d9d9d;
    border-color: #abaaaa;
}

.card.bg-info .card-header {
    background-color: #56bddb;
    border-color: #2eadd3;
}

.card.bg-warning .card-header {
    background-color: #f7b900;
    border-color: #c69500;
}

.card.bg-danger .card-header {
    background-color: #f75d5c;
    border-color: #ff6b6a;
}

.card-header {
    border: 1px solid;
    margin-bottom: 0;
    padding: 0.75rem 1.25rem;
}

small, .small {
    font-size: 12px;
    font-weight: 500;
}
.small-2 {
    font-size: 10px;
    /*font-weight: 500;*/
}
.font-sm{
    font-size: 11px;
    font-weight: 500;
}
.font-md {
    font-size: 18px;
    text-transform: capitalize;
}
.font-cap {
    text-transform: capitalize;
}

.font-lg {
    font-size: 20px;
}
.bold {
    font-weight: 600;
}

/*-------Button----*/
.btn-transparent {
    background-color: transparent;
    border-color: #e9e8e4;
    /*color: #fff;*/
}

/*Sports Logo Slide*/




/*------------------*/
.join {
    width: 100%;
    height: auto;
    background-color: #ddd;
    min-height: 600px;
}

.join-box {
    width: 70%;
    margin: 0 auto;
}

.join-footer {
    width: 90%;
    margin: 0 auto;
}

.footer-bg {
    background-color: #444a4e;
}

.footer {
    background-color: #444a4e;
    border-bottom-color: #585858;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    min-height: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    width: 85%;
    margin: 0 auto;
}

.c-container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.footer h4 {
    border-bottom-color: #585858;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #d4d4d4;
    padding-bottom: 10px;
    font-size: 1.2125rem;
}

.footer h3 {
    color: #ddd;
    font-size: 1.1600rem;
    padding-bottom: 0px;
}

.footer ul li {
    display: block;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-bottom: 4px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 4px;
}

.footer ul {
    margin-left: -20px;
}

.footer ul li a {
    color: #ccc;
    text-decoration-color: currentcolor;
    text-decoration-line: none;
    text-decoration-style: solid;
}

.footer ul li a:hover {
    color: #fff;
}

.bottom-footer {
    background-color: #444a4e;
    min-height: 20px;
    /*padding-bottom: 30px;*/

    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    width: 100%;
}

.logo {
    margin-bottom: 0;
    /*margin-top: 15px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 80%;
}

.center {
    margin-bottom: 0;
    /*margin-top: 15px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 80%;
}

.bottom-footer ul li {
    display: inline-block;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
}

.bottom-footer ul li a {
    color: #ccc;
    text-decoration-color: currentcolor;
    text-decoration-line: none;
    text-decoration-style: solid;
}

.bottom-footer ul li a:hover {
    color: #fff;
}

.bottom-footer p {
    color: #ccc;
}

.scrollable-menu {
    height: auto;
    max-height: 150px;
    overflow-x: hidden;
}

/*Progress*/

.c-dropdown {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    background-color: transparent !important;
    border-bottom-color: currentcolor !important;
    border-bottom-style: none !important;
    border-bottom-width: medium !important;
    border-image-outset: 0 0 0 0 !important;
    border-image-repeat: stretch stretch !important;
    border-image-slice: 100% 100% 100% 100% !important;
    border-image-source: none !important;
    border-image-width: 1 1 1 1 !important;
    border-left-color: currentcolor !important;
    border-left-style: none !important;
    border-left-width: medium !important;
    border-right-color: currentcolor !important;
    border-right-style: none !important;
    border-right-width: medium !important;
    border-top-color: currentcolor !important;
    border-top-style: none !important;
    border-top-width: medium !important;
    color: #ccc;
    width: 100% !important;
}

.c-dropdown:active, .c-dropdown:hover, .c-dropdown:focus {
    color: #ccc;
}

.app-header.navbar .nav-item .nav-link > .img-avatar, .app-header.navbar .nav-item .dropdown-toggle > .img-avatar {
    height: 35px;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 25px !important;
    margin-top: 0;
    border: 2px solid #fff !important;
}

.gray{
    background-color: #999;
}

/*Curcle Progress Bar*/
.progress {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}

.progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.progress > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-left {
    left: 0;
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress .progress-right {
    right: 0;
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}

.progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #44484b;
    font-size: 10px;
    color: #fff;
    line-height: 42px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}

.progress.blue .progress-bar {
    border-color: #049dff;
}

.progress.blue .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.8s;
}

.progress.yellow .progress-bar {
    border-color: #fdba04;
}

.progress.yellow .progress-left .progress-bar {
    animation: loading-3 1s linear forwards 1.8s;
}

.progress.pink .progress-bar {
    border-color: #ed687c;
}

.progress.pink .progress-left .progress-bar {
    animation: loading-4 0.4s linear forwards 1.8s;
}

.progress.green .progress-bar {
    border-color: #1abc9c;
}

.progress.green .progress-left .progress-bar {
    animation: loading-5 1.2s linear forwards 1.8s;
}

@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}

@keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes loading-4 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}




/*flexiselDemo Slide*/
.clearout {
    height:20px;
    clear:both;
}

#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
    display:none;
}
.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;
    text-align:center;
}
.nbs-flexisel-inner {
    overflow: hidden;
    float: left;
    width: 100%;
    background: #666;
    background: #666 -moz-linear-gradient(top, #8b8b8b 0%, #8b8b8b 70%); /* FF3.6+ */
    background: #666-webkit-gradient(linear, left top, left bottom, color-stop(0%, #666), color-stop(100%, #8b8b8b)); /* Chrome,Safari4+ */
    background: #666 -webkit-linear-gradient(top, #666 0%, #8b8b8b 100%); /* Chrome10+,Safari5.1+ */
    background: #666 -o-linear-gradient(top, #666 0%, #8b8b8b 100%); /* Opera11.10+ */
    background: #666 -ms-linear-gradient(top, #666 0%, #8b8b8b 100%); /* IE10+ */
    background: #666 linear-gradient(top, #666 0%, #8b8b8b 100%); /* W3C */
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
}
.nbs-flexisel-item img {
    width: 100%;
    cursor: pointer;
    position: relative;
    padding: 0px;
    margin: 2px;
    max-width: 20px;
    max-height: 25px;
    /*background-color: #bcbcbc;*/
    float: left;
}
/*** Navigation ***/
.nbs-flexisel-nav-left {
    left: 5px;
    background: url("../img/button-previous-bl.png") no-repeat;
}
.nbs-flexisel-nav-right {
    right: 5px;
    background: url("../img/button-next-bl.png") no-repeat;
}

.nbs-flexisel-ul li {
    background-color:#5a5d5f;
    color: #fff;
    margin: 0 1px;
    width: 32%;

}

.nbs-flexisel-item ul li a {
    text-decoration: none;
}

.nbs-flexisel-item p {
    color: #ffec17;
    font-style: inherit;
    font-size: 15px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    margin:10px 10px;
    padding-bottom: 12px;

}

.nbs-flexisel-item table th, .nbs-flexisel-item table td{
    color: #fff;
    text-align: center!important;
    margin: 0 auto;
    border: none!important;
    vertical-align: inherit;
    padding-bottom: 0.50rem;
    padding-left: 0.50rem;
    padding-right: 0.50rem;
    padding-top: 0.50rem;
}
.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 24px;
    height: 24px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0.95;
    top: 70px;
}

.nbs-flexisel-item.page-link, .pagination-datatables li a, .pagination li a {
    background-color: #636464;
}
.ash-menu {
    font-size: 14px;
    line-height: 10px;
    text-align: center;
    font-weight: 500;
}
.ash-menu > ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #717171;
    width: 100%;
}

.ash-menu > ul li {
    float: left;
    zoom: 1;
    background-color: #666;
    width: 32%;
    margin: 0 0.09rem;
    display: list-item;
    /*margin-left: 0.005rem;*/

}
.ash-menu > ul li a {
    display: inline-block;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
}

.ash-menu > ul li a.active,
.ash-menu > ul li a:hover {
    background: #636464;
    color: #fff;
}

.live-img-wrapper{
    border: 1px solid #999;
    width: 100%;
    margin: 0 auto;
}

.reg-menu{
    width: 300px;
    margin-right: 2px;
}
/*margin*/
.m-t-10{
    margin-top: 10px;
}
.m-t-20{
    margin-top: 20px!important;
}
.m-t-30{
    margin-top: 30px;
}
.m-t-40{
    margin-top: 40px;
}
.m-t-50{
    margin-top: 50px;
}
.m-t-60{
    margin-top: 60px;
}
.m-t-70{
    margin-top: 70px;
}
.m-t-80{
    margin-top: 80px;
}

.m-b-10{
    margin-bottom: 10px;
}
.m-b-20{
    margin-bottom: 20px;
}
.m-b-30{
    margin-bottom: 30px;
}
.m-b-40{
    margin-bottom: 40px;
}
.m-b-50{
    margin-bottom: 50px;
}

.live-screen {
    min-height: 100px;
    width: 80%;
    margin:0px auto;
    padding: 25px;
}

.live-screen-2{
    width: 90%;
    margin: 0 auto;
    padding: 0;
    /*background-color: #00aced;*/
}

.curcle{
    width: 100%;
    margin:20px auto;
    min-height:100px ;
    /*background-color: #0b0e0f;*/
}
.horizon{
    width: 80%;
    margin:0px auto;
    min-height:100px ;
    /*background-color: #0b0e0f;*/
    /*padding: 0 20px;*/
}
.curcle ul {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.curcle ul li {
    color: #ddd;
    display: inline-block;
    float: left;
    list-style: none;
    border: none !important;
    /*margin: 0 20px;*/
    width: 30%;
    padding: 0 20px;
    margin: 0 7px;
    background-color: #666666;
}

.horizon{
    width: 80%;
    margin: 0 auto;
    min-height: 100px;
    /*background-color: #0a3544;*/
}
ul.hori {
    width: 100%;
    margin: 0;
    padding: 0;
    /*background-color: #0a3d2e;*/
}
ul.hori li {
    background-color: transparent;
    color: #ddd;
    display: inline-block;
    float: left;
    list-style: none;
    border: none !important;
    /*margin: 0 20px;*/
}
.trasparent{
    background-color: transparent!important;
}
.width-5 {
    width: 5%;
}
.width-8 {
    width: 8%;
}
.width-10 {
    width: 10%;
}

.width-20 {
    width: 20%;
}

.width-15 {
    width: 15%;
}
.width-30 {
    width: 30%;
}

.width-40 {
    width: 40%;
}
.width-46 {
    width: 46%;
}

.width-33 {
    width: 33.33%;
}

.width-50 {
    width: 50%!important;
}
.width-55 {
    width: 55%!important;
}

.width-60 {
    width: 60%!important;
}
.width-70 {
    width: 70%;
}
.width-80 {
    width: 80%;
}
.width-90 {
    width: 90%;
}

.width-35 {
    width: 30.66%;
}

/*Top Event*/
.top-event a{
    color: #ddd;
}
.top-event .table-md img{
    width: 15px;
    margin-right: 5px;
}
.acordion-container .table td a{
    color: #ffd519;
}
.table td a{
    color: #ffd519;
}
/*virtual-sports*/
.virtual-sports .card .card-header-blu-lg span img{
    width: 30px;
    margin-right: 10px;
}
.britannia-way a{
    color: #ddd;
}
.britannia-way{
    color: #ddd;
}
.britannia-way .card .small{
    color: #a5e6fd;
}
.britannia-way .dropdown a{
    color: #333;
}
.virtual-sports a{
    color: #fff;
    text-decoration: none;
}

/*SPORTS-2*/
.card a{
    /*color: #ddd;*/
    text-decoration: none;
}
.blu-gry{
    color: #A6E1EC;
}
/*Horror Section*/
div.horizontal {
    width: 100%;
    height: 40px;
    overflow: auto;
    white-space: nowrap;
}

.table {
    display: table;
    table-layout: fixed;
    width: 100%;
}


article {
    width: 400px;
    height: 40px;
    display: table-cell;
    background: #e3e3e3;
    vertical-align: middle;
    text-align: center;
}

article:nth-child(2n+2)
{
    background: #d1d1d1;
}

/*Scroll-2  */
.scrolly{
    width: 1150px;
    height: 70px;
    overflow: auto;
    overflow-y: hidden;
    margin: 0 auto;
    white-space: nowrap
}

.scrolly img{
    width: 50px;
    height: 60px;
    margin: 2px;
    display: inline;
}
.slide-image{
    width: 100%;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.slide-image img{
    width: 100%;
    height: auto;

}
/*.bet img{*/
/*width: 100%;*/
/*height: 300px;*/

/*}*/
.bet{
    width: 200px;
    position: relative;
    margin-top: -20%;
    margin-left: 30%;
    opacity: .5;


}
.bet img{
    border:1px solid #4d5254;
    -webkit-box-shadow: -16px 14px 5px -4px rgba(209,201,209,0.19);
    -moz-box-shadow: -16px 14px 5px -4px rgba(209,201,209,0.19);
    box-shadow: -16px 14px 5px -4px rgba(209,201,209,0.19);
}

/*Scroll-3*/
.container-2 {
    position: relative;
    height: 9em;
    width: 99%;
    margin: 2px auto;
    background: #abefcd;
    text-align: left;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    vertical-align:middle;
}
.container-2 div {
    display: inline-block;
    width: 14em;
    height: 6em;
    margin: 0.5em;
    border: 1px solid blue;
    padding: 3px;
    white-space: normal;
    text-align: center;
}

.logo-content{
    width: 70%;
    margin: 0 auto;
}

.sponsor-logo .table a{
    color: #ddd;
}

.horoDesc .table a{
    color: #fff;
}
.dropdown-menu a{
    color: #333;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-11 {
    width: 91.66666667%;
}
.col-xs-10 {
    width: 83.33333333%;
}
.col-xs-9 {
    width: 75%;
}
.col-xs-8 {
    width: 66.66666667%;
}
.col-xs-7 {
    width: 58.33333333%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-5 {
    width: 41.66666667%;
}
.col-xs-4 {
    width: 33.33333333%;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-2 {
    width: 16.66666667%;
}
.col-xs-1 {
    width: 8.33333333%;
}
.col-xs-pull-12 {
    right: 100%;
}
.col-xs-pull-11 {
    right: 91.66666667%;
}
.col-xs-pull-10 {
    right: 83.33333333%;
}
.col-xs-pull-9 {
    right: 75%;
}
.col-xs-pull-8 {
    right: 66.66666667%;
}
.col-xs-pull-7 {
    right: 58.33333333%;
}
.col-xs-pull-6 {
    right: 50%;
}
.col-xs-pull-5 {
    right: 41.66666667%;
}
.col-xs-pull-4 {
    right: 33.33333333%;
}
.col-xs-pull-3 {
    right: 25%;
}
.col-xs-pull-2 {
    right: 16.66666667%;
}
.col-xs-pull-1 {
    right: 8.33333333%;
}
.col-xs-pull-0 {
    right: auto;
}
.col-xs-push-12 {
    left: 100%;
}
.col-xs-push-11 {
    left: 91.66666667%;
}
.col-xs-push-10 {
    left: 83.33333333%;
}
.col-xs-push-9 {
    left: 75%;
}
.col-xs-push-8 {
    left: 66.66666667%;
}
.col-xs-push-7 {
    left: 58.33333333%;
}
.col-xs-push-6 {
    left: 50%;
}
.col-xs-push-5 {
    left: 41.66666667%;
}
.col-xs-push-4 {
    left: 33.33333333%;
}
.col-xs-push-3 {
    left: 25%;
}
.col-xs-push-2 {
    left: 16.66666667%;
}
.col-xs-push-1 {
    left: 8.33333333%;
}
.col-xs-push-0 {
    left: auto;
}
.col-xs-offset-12 {
    margin-left: 100%;
}
.col-xs-offset-11 {
    margin-left: 91.66666667%;
}
.col-xs-offset-10 {
    margin-left: 83.33333333%;
}
.col-xs-offset-9 {
    margin-left: 75%;
}
.col-xs-offset-8 {
    margin-left: 66.66666667%;
}
.col-xs-offset-7 {
    margin-left: 58.33333333%;
}
.col-xs-offset-6 {
    margin-left: 50%;
}
.col-xs-offset-5 {
    margin-left: 41.66666667%;
}
.col-xs-offset-4 {
    margin-left: 33.33333333%;
}
.col-xs-offset-3 {
    margin-left: 25%;
}
.col-xs-offset-2 {
    margin-left: 16.66666667%;
}
.col-xs-offset-1 {
    margin-left: 8.33333333%;
}
.col-xs-offset-0 {
    margin-left: 0;
}



table, .table tbody td, .table tbody th{
    /*max-width: 100px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.toggle-content {
    display: none;
}

.toggle-content.is-visible {
    display: block;
}
/*Responsive Nav*/

.topnav {
    /*background-color: #333;*/
    overflow: hidden;

}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    /*font-size: 17px;*/
}

.active {
    /*background-color: #4CAF50;*/
    color: white;
}

.topnav .icon {
    display: none;
}

/*.dropdown {*/
/*!*float: left;*!*/
/*overflow: hidden;*/
/*}*/

/*.dropdown .dropbtn {*/
/*!*font-size: 17px;*!*/
/*border: none;*/
/*outline: none;*/
/*color: white;*/
/*padding: 14px 16px;*/
/*background-color: inherit;*/
/*font-family: inherit;*/
/*margin: 0;*/
/*}*/

/*.dropdown-content {*/
/*display: none;*/
/*position: absolute;*/
/*background-color: #f9f9f9;*/
/*min-width: 160px;*/
/*!*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*!*/
/*z-index: 1;*/
/*}*/

/*.dropdown-content a {*/
/*float: none;*/
/*color: black;*/
/*padding: 12px 16px;*/
/*text-decoration: none;*/
/*display: block;*/
/*text-align: left;*/
/*}*/

.topnav a:hover, .dropdown:hover .dropbtn {
    /*background-color: #555;*/
    color: white;
}

/*.dropdown-content a:hover {*/
/*background-color: #ddd;*/
/*color: black;*/
/*}*/

/*.dropdown:hover .dropdown-content {*/
/*display: block;*/
/*}*/

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: -18px;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}


/*InPlay Cricet*/

.ckt-live-screen-2{
    width: 90%;
    min-height: 150px;
    height: auto;
    /*margin: 0 auto;*/
    /*padding: 0;*/
    /*color: #000;*/
    background-color: #fff;
}
.canvasjs-chart-canvas{
    width: 90%!important;
    height: 200px!important;
}


.ckt-off-side{
    width: 25%;
    min-height: 30px;
    background-color: #93c130;
    float: left;
}

.ckt-radar-chart{
    width: 50%;
    min-height: 30px;
    background-color: #fff;
    float: left;
}
.ckt-leg-side{
    width: 25%;
    min-height: 30px;
    background-color: #93c130;
    float: left;
}

.profile-img{
    width: 20%;
    height: auto;
    float: left;
}
.basic-info{
    width: 80%;
    height: auto;
    float: left;
}
.other-info{
    padding: 20px 0px;
}

.p-image {
    margin: 30px 20px;
    width: 100%;
    height: auto;
    border: 2px solid #ddd;
}
.info {
    margin: 30px 20px;
    /*background-color: #fff;*/
    padding-left: 20px;
}







































/*MEDIA QUERY*/

@media (min-width: 1025px) and (max-width: 1280px) {
    /*css*/
}
/*##Device = Tablets, Ipads (portrait)##Screen = B/w 768px to 1024px*/

@media (min-width: 768px) and (max-width: 1080px) {
    body{
        font-size: 0.850rem;
        line-height: 1.3;
        text-align: left;
    }
    .app-header.navbar .navbar-brand {
        left: 24%;
    }

    .app-header.navbar .navbar-brand {
        background-size: 110px auto;
        display: inline-block;
        margin-right: 0;
        width: 140px;
    }
    .ash-menu > ul li{
        text-align: center;
        margin: 0;
        width: 30%;
    }
    .ash-menu > ul li a {

        text-align: center;
        /*padding: 15px 10px;*/

    }

}

@media (min-width: 740px) and (max-width: 1024px) and (orientation: landscape) {
    body{
        font-size: 0.850rem;
        line-height: 1.3;
        text-align: left;
    }
    .app-header.navbar .navbar-brand {
        left: 24%;
    }

    .app-header.navbar .navbar-brand {
        background-size: 110px auto;
        display: inline-block;
        margin-right: 0;
        width: 140px;
    }
    .nbs-flexisel-item{
        line-height:2%
    }
}

/*Device = Low Resolution Tablets, Mobiles (Landscape)##Screen = B/w 481px to 767px*/
@media (min-width: 481px) and (max-width: 767px) {

    .profile-img{
        width: 35%;
        height: auto;
        float: left;
    }
    .basic-info{
        width: 65%;
        height: auto;
        float: left;
    }
    .info {

        padding-left: 5px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .profile-img{
        width: 35%;
        height: auto;
        float: left;
    }
    .basic-info{
        width: 65%;
        height: auto;
        float: left;
    }
    .info {

        padding-left: 5px;
    }


}

/*Device = Most of the Smartphones Mobiles (Portrait)##Screen = B/w 320px to 479px*/
@media (min-width: 320px) and (max-width: 480px) {
    .profile-img{
        width: 35%;
        height: auto;
        float: left;
    }
    .basic-info{
        width: 65%;
        height: auto;
        float: left;
    }
    .info {

        padding-left: 5px;
    }
}

@keyframes loading-5 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}