/*Horror Section*/
.horoscope_section {
    width: 100%;
    height: 100px;
    margin-top:40px;
    margin-bottom: -10px;
    padding: 0;
}

.horoscope_section ul {
    margin: 0;
    padding: 0!important;
}

.horoscope_section ul li {
    float: left;
    list-style-image: none;
    list-style-position: outside ;
    list-style-type: none;
    padding-top: 5px;
    margin:0 2px;
    width:80px;
    display: block;
    overflow: hidden;

}
.horoscope_section ul li a {
    text-decoration: none;
}

.horoscope_section ul li a img {
    display: block;
    height: 45px;
    width: 45px;
    margin: 5px auto;
}

.horoscope_section ul li a p {
    color: #333;
    display: block;
    text-align: center;
}

div.horoscope_section fieldset.horoDesc {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border: 1px solid #eee;
    margin-bottom: 5px;
    padding: 10px;
}

div.horoscope_section legend {
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    color: #337ab7;
    font-size: 18px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
    width: auto;
}

div.horoscope_section .horo_summary {
    display: none;
    width: 100%;
}

div.horoscope_section .horo_active {
    display: block;
}

.vid-container iframe, .vid-container object, .vid-container embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.vid-list-container {
    margin-left: 0;
    margin-top: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}

.vid-list-container-2 {
    margin-left: 0;
    margin-top: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 20px;
    width: 100%;
}

.vid-list {
    left: 20px;
    position: relative;
    top: 0;
    width: 2000px;
}

.vid-item {
    display: block;
    float: left;
    height: 140px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    width: 145px;
}

.thumb {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: #999;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #999;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #999;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #999;
    border-top-style: solid;
    border-top-width: 1px;
    height: 84px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.thumb img {
    position: relative;
    top: -9px;
    width: 100%;
}

.vid-item .desc {
    color: #21a1d2;
    font-size: 15px;
    margin-top: 5px;
}

.vid-item:hover {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #eee;
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    cursor: pointer;
}

.arrows {
    position: relative;
    width: 100%;
}

.arrow-left {
    background-color: #fff;
    border: 1px solid #20A8D8;
    color: #20A8D8;
    cursor: pointer;
    left: 5px;
    padding: 40px 3px;
    position: absolute;
    top: -105px;
    z-index: 99;
}

.arrow-right {
    background-color: #fff;
    border: 1px solid #20A8D8;
    color: #20A8D8;
    cursor: pointer;
    padding: 40px 3px;
    position: absolute;
    right: 5px;
    top: -105px;
    z-index: 99;
}

.arrow-left:hover {
    color: #EC9720;
    background-color: #2095d8;
}

.arrow-right:hover {
    color: #EC9720;
    background-color: #2095d8;
}


.join {
    width: 100%;
    height: auto;
    background-color: #ddd;
    min-height: 600px;
}

.join-box {
    width: 70%;
    margin: 0 auto;
}

.join-footer {
    width: 90%;
    margin: 0 auto;
}

.footer-bg {
    background-color: #444a4e;
}

.footer {
    background-color: #444a4e;
    border-bottom-color: #585858;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    min-height: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    width: 85%;
    margin: 0 auto;
}

.c-container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.footer h4 {
    border-bottom-color: #585858;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #d4d4d4;
    padding-bottom: 10px;
    font-size: 1.2125rem;
}

.footer h3 {
    color: #ddd;
    font-size: 1.1600rem;
    padding-bottom: 0px;
}

.footer ul li {
    display: block;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-bottom: 4px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 4px;
}

.footer ul {
    margin-left: -20px;
}

.footer ul li a {
    color: #ccc;
    text-decoration-color: currentcolor;
    text-decoration-line: none;
    text-decoration-style: solid;
}

.footer ul li a:hover {
    color: #fff;
}

.bottom-footer {
    background-color: #444a4e;
    min-height: 20px;
    /*padding-bottom: 30px;*/

    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    width: 100%;
}

.logo {
    margin-bottom: 0;
    /*margin-top: 15px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 80%;
}

.center {
    margin-bottom: 0;
    /*margin-top: 15px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 80%;
}

.bottom-footer ul li {
    display: inline-block;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
}

.bottom-footer ul li a {
    color: #ccc;
    text-decoration-color: currentcolor;
    text-decoration-line: none;
    text-decoration-style: solid;
}

.bottom-footer ul li a:hover {
    color: #fff;
}

.bottom-footer p {
    color: #ccc;
}

.scrollable-menu {
    height: auto;
    max-height: 150px;
    overflow-x: hidden;
}

/*Progress*/

.c-dropdown {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    background-color: transparent !important;
    border-bottom-color: currentcolor !important;
    border-bottom-style: none !important;
    border-bottom-width: medium !important;
    border-image-outset: 0 0 0 0 !important;
    border-image-repeat: stretch stretch !important;
    border-image-slice: 100% 100% 100% 100% !important;
    border-image-source: none !important;
    border-image-width: 1 1 1 1 !important;
    border-left-color: currentcolor !important;
    border-left-style: none !important;
    border-left-width: medium !important;
    border-right-color: currentcolor !important;
    border-right-style: none !important;
    border-right-width: medium !important;
    border-top-color: currentcolor !important;
    border-top-style: none !important;
    border-top-width: medium !important;
    color: #ccc;
    width: 100% !important;
}
.navbar-nav .nav-link, .navbar-nav .navbar .dropdown-toggle, .navbar .navbar-nav .dropdown-toggle {
    color: #fff;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px!important;
    margin-right: -5px!important;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    min-height: 1px;
    padding-left: 5px!important;
    padding-right: 5px!important;
    position: relative;
    width: 100%;
}
.c-body-img img{
    width: 100%;
    height: 150px;
}
.card-body-15-p, .card-block-15-p {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 15px;
}
.card-body-15-p h2{
    color: #20A8D8;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;

}

.card-body-15-p p{
    color: #333;

}
.m-t-30{
    margin-top: 30px;
}
.go-up {
    background-color: #999;
    bottom: 15px;
    color: #34495e;
    cursor: pointer;
    font-size: 25px;
    height: 40px;
    line-height: 37px;
    position: fixed;
    right: -60px;
    text-align: center;
    width: 40px;
    z-index: 9999;
}
.go-up:hover {
    background-color: #ccc;
}

#login-modal .modal-dialog {
    width: 100%;
}
.modal-content {

    background-color: #ececec;
    border:1px solid #bdc3c7;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-radius: 0;
    margin-top: 30px;
    outline-color: currentcolor;
    outline-style: none;
    outline-width: 0;
    width: 100%;
}
.modal-2 {
    bottom: 0;
    left: 0;
    outline-color: currentcolor;
    outline-style: none;
    outline-width: 0;
    position: fixed;
    right: 0;
    top: 30px;
    z-index: 1;
}

.modal-backdrop {
    background-color: #000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 0 !important;
}




