/* liScroll styles */

.tickercontainer { /* the outer div with the black border */
	width:100%; 
	height: 30px; 
	margin: 0; 
	padding: 0;
	overflow: hidden;
	padding-top: 2px; 
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
	left: 10px;
	overflow: hidden;
	position: relative;
	top: 0;
	width: 100%;
	height: 20px;
	overflow: hidden;
	margin-top: 4px;
}
ul.newsticker { /* that's your list */
	position: relative;
	left: 750px;
	font: bold 10px Verdana;
	list-style-type: none;
	margin: 0;
	padding: 0;

}
ul.newsticker li {
	float: left; /* important: display inline gives incorrect results when you check for elem's width */
	margin: 0;
	padding: 0;
}
ul.newsticker a {
	white-space: nowrap;
	padding: 0;
	color: #2f2f2f;
	margin: 0 50px 0 0;
} 
ul.newsticker a:hover{
	text-decoration: underline;
}
/*ul.newsticker a:before{
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	content: "";
	margin-right: 5px;
}*/
ul.newsticker span {
	margin: 0 10px 0 0;
} 
ul.newsticker a > img {
  height: 20px;
  margin-right: 5px;
  width: 25px;
}