
<td><a href="soccer_match.html" class="text-left white"><span class="fa fa-angle-right pull-right"></span>Italy Serie A </a></td>
<td></td>
                                                                    