/*********************************************
*************** Table of content *************
**********************************************

/** ====== Imported styles ====== **/

@import url('http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');
@import url('bootstrap.min.css');
@import url('font-awesome.min.css');
@import url('animate.css');
@import url('hover.css');
@import url('jquery.fancybox.css');
@import url('jquery.bxslider.css');
@import url('owl.carousel.css');
@import url('owl.theme.default.min.css');
@import url('settings.css');

/** ====== Event Sponsor styles ====== **/

#event-sponsor {
  padding: 0;
}
#event-sponsor .sponsor-logo-row {
  /*margin-top: 60px;*/

}
#event-sponsor .sponsor-logo {
  padding: 0 37px;
  position: relative;
  list-style: none;
  margin: 0 auto;

}
#event-sponsor .sponsor-logo li {

}
#event-sponsor .sponsor-logo .owl-nav {
  margin:0;

}
#event-sponsor .sponsor-logo .item img {
  /*opacity: .4 !important;*/
  transition: all .3s ease;
  width: 30px;
}
#event-sponsor .sponsor-logo .item {
  width: 380px;
  margin: 0;
  border-left: 1px solid #A4B7C1;
  border-right: 1px solid #A4B7C1;


}
#event-sponsor .sponsor-logo .item:hover img {
  opacity: 1 !important;
}
#event-sponsor .sponsor-logo .item a {
  text-decoration: none;
}
#event-sponsor .sponsor-logo .owl-prev,
#event-sponsor .sponsor-logo .owl-next {
  position: absolute;
  top: 0;
  background:#585858;
  border: 1px solid #999;
  transition: all .3s ease;
}
#event-sponsor .sponsor-logo .owl-prev:hover,
#event-sponsor .sponsor-logo .owl-next:hover {
  background: #5E5E5E;
  border: 1px solid #999;
}
#event-sponsor .sponsor-logo .owl-prev:hover i,
#event-sponsor .sponsor-logo .owl-next:hover i {
  color: #fff;
}
#event-sponsor .sponsor-logo .owl-prev i,
#event-sponsor .sponsor-logo .owl-next i {
  font-size: 23px;
  color: #374045;
  line-height: 65px;
  padding: 85px 12px;
  color: #ddd;
}
#event-sponsor .sponsor-logo .owl-prev {
  left: 0;
}
#event-sponsor .sponsor-logo .owl-next {
  right: 0;

}

/** ====== Subscribe Section styles ====== **/


/*#subscribe-newsletter {*/
  /*margin-bottom: -70px;*/
/*}*/
/*#subscribe-newsletter + * {*/
  /*padding-top: 160px;*/
/*}*/
/*#subscribe-newsletter .gradient-overlay {*/
  /*padding: 55px 0;*/
  /*background: url(../img/background/subscribe-section-bg.jpg) center center no-repeat fixed;*/
  /*background-size: cover;*/
/*}*/
/*#subscribe-newsletter .text-box {*/
  /*font-size: 24px;*/
  /*font-weight: 800;*/
  /*color: #fff;*/
  /*line-height: 70px;*/
  /*text-transform: uppercase;*/
  /*text-indent: 25px;*/
  /*background: url(../img/resources/subscribe-icon.png) center left no-repeat;*/
/*}*/
/*#subscribe-newsletter .text-box span {*/
  /*color: #374045;*/
/*}*/
/*#subscribe-newsletter .input-box {*/
  /*background: #fff;*/
  /*height: 53px;*/
  /*border-radius: 5px;*/
  /*overflow: hidden;*/
  /*margin: 7px 0;*/
  /*display: block;*/
  /*transition: all .3s ease;*/
  /*border: 2px solid transparent;*/
/*}*/
/*#subscribe-newsletter .input-box:hover {*/
  /*border: 2px solid #FF8625;*/
/*}*/
/*#subscribe-newsletter .input-box input {*/
  /*height: 100%;*/
  /*line-height: 49px;*/
  /*width: 90%;*/
  /*border: none;*/
  /*outline: none;*/
  /*background-color: transparent;*/
/*}*/
/*#subscribe-newsletter .input-box input + button {*/
  /*color: #FF8625;*/
/*}*/
/*#subscribe-newsletter .input-box button {*/
  /*background: none;*/
  /*color: #D3D4D4;*/
  /*outline: none;*/
  /*border: none;*/
  /*line-height: 49px;*/
  /*transition: all .3s ease;*/

/*}*/

/*!** ====== Footer styles ====== **!*/


/*footer {*/
  /*background: #29363E;*/
  /*padding: 100px 0 85px;*/
/*}*/
/*footer .footer-widget h3 {*/
  /*font-size: 18px;*/
  /*font-weight: 800;*/
  /*color: #fff;*/
  /*text-transform: uppercase;*/
  /*margin: 0;*/
  /*margin-bottom: 30px;*/
/*}*/
/*footer .footer-widget p {*/
  /*color: #A4B0B6;*/
  /*font-weight: 500;*/
/*}*/
/*footer .footer-widget a {*/
  /*color: #A4B0B6;*/
  /*font-weight: 600;*/
  /*transition: all .3s ease;*/
/*}*/
/*footer .footer-widget a:hover {*/
  /*color: #FF8625;*/
/*}*/
/*footer .footer-widget .bx-wrapper .bx-viewport {*/
  /*background: none;*/
  /*border: none;*/
  /*left: 0;*/
  /*box-shadow: none;*/
/*}*/
/*footer .footer-widget .photo-gallery {*/
  /*margin-left: -1.5px;*/
  /*margin-right: -1.5px;*/
/*}*/
/*footer .footer-widget .photo-gallery li {*/
  /*float: left;*/
  /*width: 75px;*/
  /*margin: 1.5px 1.5px;*/
/*}*/
/*footer .footer-widget .photo-gallery li img {*/
  /*opacity: 1;*/
  /*transition: all .3s ease;*/
/*}*/
/*footer .footer-widget .photo-gallery li img:hover {*/
  /*opacity: .55;*/
/*}*/
/*footer .footer-widget.twitter-feed a {*/
  /*color: #F2F2F2;*/
  /*font-size: 13px;*/
  /*font-weight: 500;*/
  /*transition: all .3s ease;*/
/*}*/
/*footer .footer-widget.twitter-feed a:hover {*/
  /*color: #FF8625;*/
/*}*/
/*footer .footer-widget.twitter-feed .themex_twt_date {*/
  /*color: #576673;*/
  /*font-weight: normal;*/
  /*font-size: 14px;*/
/*}*/
/*footer .footer-widget.menu-widget ul li {*/
  /*margin-bottom: 10px;*/
/*}*/
/*footer .footer-widget.menu-widget ul li a i {*/
  /*color: #fff;*/
  /*margin-right: 10px;*/
/*}*/
/*footer .footer-widget.about-widget img {*/
  /*margin-bottom: 40px;*/
/*}*/
/*footer .footer-widget .social-icons {*/
  /*margin-top: 30px;*/
/*}*/
/*footer .footer-widget .social-icons a {*/
  /*color: #fff;*/
  /*width: 35px;*/
  /*height: 35px;*/
  /*line-height: 35px;*/
  /*text-align: center;*/
  /*display: inline-block;*/
  /*background: url(../img/resources/social-icon-bg.png) center center no-repeat;*/
  /*margin-right: 5px;*/
  /*transition: all .3s ease;*/
/*}*/
/*footer .footer-widget .social-icons a:hover {*/
  /*color: #FF8625;*/
  /*transform: rotate(360deg);*/

/*}*/

/*!** ====== Bottom Bar styles ====== **!*/


/*#bottom-bar {*/
  /*background: #273138;*/
  /*color: #4C5357;*/
  /*text-transform: uppercase;*/
  /*font-weight: normal;*/
  /*padding: 20px 0px;*/
/*}*/
/*#bottom-bar p {*/
  /*margin-bottom: 0;*/
/*}*/
/*#bottom-bar p a {*/
  /*color: #fff;*/
  /*transition: all .3s ease;*/
/*}*/
/*#bottom-bar p a:hover {*/
  /*color: #FF8625;*/

/*}*/

/*!** ====== Event Speakers style Two styles ====== **!*/


/*#event-speakers.style-two .col-lg-8 {*/
  /*border-left: 1px solid #E1E1E1;*/
/*}*/
/*#event-speakers.style-two .single-speakers {*/
  /*margin-top: 20px;*/
  /*float: left;*/
  /*width: 50%;*/
  /*padding-left: 15px;*/
  /*margin-bottom: 30px;*/
/*}*/
/*#event-speakers.style-two .single-speakers img {*/
  /*float: left;*/
  /*margin-right: 20px;*/
  /*border-radius: 50%;*/
/*}*/
/*#event-speakers.style-two .single-speakers .info {*/
  /*float: right;*/
  /*width: 69%;*/
  /*padding: 0;*/
/*}*/
/*#event-speakers.style-two .single-speakers .info ul.speaker-meta {*/
  /*margin-bottom: 5px;*/
  /*margin-left: -10px;*/
  /*margin-right: -10px;*/
/*}*/
/*#event-speakers.style-two .single-speakers .info ul.speaker-meta li {*/
  /*display: inline;*/
/*}*/
/*#event-speakers.style-two .single-speakers .info ul.speaker-meta li span {*/
  /*display: inline-block;*/
  /*margin-bottom: 0;*/
  /*color: #000000;*/
  /*padding: 0 10px;*/
  /*line-height: 15px;*/
  /*border-right: 1px solid #E9E9E9;*/
  /*font-weight: bold;*/
/*}*/
/*#event-speakers.style-two .single-speakers .info ul.speaker-meta li span.position {*/
  /*font-weight: 600;*/
  /*font-size: 12px;*/
/*}*/
/*#event-speakers.style-two .single-speakers .info ul.speaker-meta li:last-child span {*/
  /*border: none;*/
/*}*/
/*#event-speakers.style-two .single-speakers .info p {*/
  /*margin: 0;*/
  /*margin-bottom: 10px;*/
/*}*/
/*#event-speakers.style-two .single-speakers .info .social i {*/
  /*background: -webkit-linear-gradient(#cb85f3, #04d693);*/
  /*-webkit-background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/

/*}*/

/*!** ====== Gallery Style Two styles ====== **!*/


/*#gallery.style-two {*/
  /*background: #F6F9F9;*/

/*}*/

/*!** ====== Page Title styles ====== **!*/


/*#page-title {*/
  /*padding: 220px 0 100px;*/
  /*background: url(../img/background/banner-bg.jpg) no-repeat center center fixed;*/
  /*background-size: cover;*/
/*}*/
/*#page-title h1 {*/
  /*font-size: 48px;*/
  /*line-height: 25px;*/
  /*color: #fff;*/
  /*font-weight: 900;*/
  /*margin: 0;*/

/*}*/

/*!** ====== About Us Section styles ====== **!*/


/*#about-us {*/
  /*overflow: hidden;*/
  /*padding: 120px 0;*/
/*}*/
/*#about-us ul li {*/
  /*margin-bottom: 30px;*/
/*}*/
/*#about-us ul li:last-child {*/
  /*margin-bottom: 0;*/
/*}*/
/*#about-us .box {*/
  /*width: 80px;*/
  /*height: 80px;*/
  /*text-align: center;*/
  /*padding: 24px 0;*/
  /*float: left;*/
/*}*/
/*#about-us .box.gradient-overlay:before {*/
  /*z-index: -1;*/
  /*transform: rotate(180deg);*/
  /*border-radius: 5px;*/
/*}*/
/*#about-us .content {*/
  /*float: left;*/
  /*margin-left: 20px;*/
  /*width: 60%;*/
/*}*/
/*#about-us .content h3 {*/
  /*margin: 0;*/
  /*color: #374045;*/
  /*font-size: 18px;*/
  /*line-height: 28px;*/
  /*font-weight: 600;*/
  /*margin-bottom: 5px;*/
/*}*/
/*#about-us .content p {*/
  /*margin: 0;*/
/*}*/
/*#about-us .banner img {*/
  /*max-width: none;*/
  /*width: auto;*/
  /*max-height: 560px;*/
/*}*/
/*#about-us h2 {*/
  /*font-size: 30px;*/
  /*line-height: 26px;*/
  /*color: #374045;*/
  /*font-weight: 800;*/
  /*margin-bottom: 25px;*/
/*}*/
/*#about-us p {*/
  /*color: #929FA8;*/
  /*font-size: 14px;*/
  /*font-weight: 500;*/
  /*margin-bottom: 45px;*/
/*}*/
/*#about-us .about-text {*/
  /*padding: 88px 0;*/

/*}*/

/*!** ====== Number Facts styles ====== **!*/


/*#number-facts {*/
  /*padding: 120px 0;*/
  /*background: url(../img/background/register-bg.jpg) no-repeat center center fixed;*/
  /*background-size: cover;*/
/*}*/
/*#number-facts:before {*/
  /*transform: rotate(180deg);*/
/*}*/
/*#number-facts .section-title h1 {*/
  /*color: #fff;*/
/*}*/
/*#number-facts .counter-row {*/
  /*margin: 0;*/
  /*margin-top: 60px;*/
/*}*/
/*#number-facts .col-lg-3 {*/
  /*padding: 0;*/
  /*position: relative;*/
/*}*/
/*#number-facts .col-lg-3:before {*/
  /*content: '';*/
  /*height: 2px;*/
  /*width: 75px;*/
  /*background: #D6D6D6;*/
  /*position: absolute;*/
  /*bottom: 42%;*/
  /*opacity: .3;*/
/*}*/
/*#number-facts .col-lg-3.center:before {*/
  /*left: 0;*/
  /*width: 55px;*/
/*}*/
/*#number-facts .col-lg-3.center:after {*/
  /*content: '';*/
  /*height: 2px;*/
  /*width: 55px;*/
  /*background: #D6D6D6;*/
  /*position: absolute;*/
  /*bottom: 42%;*/
  /*opacity: .3;*/
  /*right: 0;*/
/*}*/
/*#number-facts .col-lg-3.center .single-counter {*/
  /*margin: 0 auto;*/
/*}*/
/*#number-facts .col-lg-3.left:before {*/
  /*right: 0;*/
  /*width: 110px;*/
/*}*/
/*#number-facts .col-lg-3.left .single-counter {*/
  /*float: left;*/
/*}*/
/*#number-facts .col-lg-3.right:before {*/
  /*left: 0;*/
  /*width: 110px;*/
/*}*/
/*#number-facts .col-lg-3.right .single-counter {*/
  /*float: right;*/
/*}*/
/*#number-facts .single-counter {*/
  /*background: url(../img/number-facts/single-counter-bg.png) center center no-repeat;*/
  /*width: 180px;*/
  /*height: 200px;*/
  /*padding: 25px 0 30px;*/
/*}*/
/*#number-facts .single-counter b {*/
  /*font-size: 60px;*/
  /*font-weight: 800;*/
  /*color: #fff;*/
  /*line-height: 60px;*/
  /*margin: 15px 0 10px;*/
  /*display: inline-block;*/
/*}*/
/*#number-facts .single-counter span {*/
  /*color: #fff;*/
  /*line-height: 25px;*/

/*}*/

/*!** ====== Managing Skills styles ====== **!*/


/*#our-expertize {*/
  /*padding: 120px 0;*/
  /*background: url(../img/background/register-bg.jpg) no-repeat center center fixed;*/
  /*background-size: cover;*/
/*}*/
/*#our-expertize:before {*/
  /*transform: rotate(180deg);*/
/*}*/
/*#our-expertize .container {*/
  /*position: relative;*/
  /*z-index: 2;*/
/*}*/
/*#our-expertize .section-title h1 {*/
  /*color: #fff;*/
/*}*/
/*#our-expertize .expertize-row {*/
  /*margin-top: 60px;*/
/*}*/
/*#our-expertize .single-expertize {*/
  /*width: 16.667%;*/
  /*float: left;*/
  /*padding: 0 15px;*/
  /*text-align: center;*/
/*}*/
/*#our-expertize .single-expertize .icon {*/
  /*position: relative;*/
/*}*/
/*#our-expertize .single-expertize .icon b {*/
  /*display: block;*/
  /*color: #fff;*/
  /*font-size: 32px;*/
  /*font-weight: 800;*/
  /*position: absolute;*/
  /*top: 40%;*/
  /*width: 100%;*/
/*}*/
/*#our-expertize .single-expertize .icon b span {*/
  /*margin: 0;*/
/*}*/
/*#our-expertize .single-expertize .icon canvas {*/
  /*transform: rotate(90deg);*/
/*}*/
/*#our-expertize .single-expertize span {*/
  /*color: #fff;*/
  /*text-transform: capitalize;*/
  /*margin-top: 20px;*/
  /*display: inline-block;*/

/*}*/

/*!** ====== Service Text styles ====== **!*/


/*#service-text {*/
  /*padding: 120px 0;*/
/*}*/
/*#service-text .text-row {*/
  /*margin-top: 60px;*/
/*}*/
/*#service-text .text-row img {*/
  /*margin-bottom: 26px;*/
  /*width: 100%;*/
/*}*/
/*#service-text .text-row h3 {*/
  /*font-size: 24px;*/
  /*color: #374045;*/
  /*font-weight: 700;*/
  /*line-height: 26px;*/
  /*margin-bottom: 10px;*/
/*}*/
/*#service-text .text-row p {*/
  /*color: #929FA8;*/
  /*font-weight: 500;*/
/*}*/
/*#service-text .text-row ul {*/
  /*margin-top: 25px;*/
/*}*/
/*#service-text .text-row ul li {*/
  /*color: #929FA8;*/
  /*font-weight: 500;*/
  /*margin-bottom: 5px;*/
/*}*/
/*#service-text .text-row ul li:before {*/
  /*width: 14px;*/
  /*height: 14px;*/
  /*background: url(../img/service-text/list-bullet.png) center center no-repeat;*/
  /*content: '';*/
  /*margin-right: 10px;*/
  /*display: inline-block;*/
  /*position: relative;*/
  /*top: 2px;*/
/*}*/
/*#service-text .text-row a.service-button {*/
  /*margin-top: 40px;*/
  /*display: inline-block;*/
  /*border: 2px solid transparent;*/
  /*line-height: 36px;*/
  /*border-radius: 5px;*/
  /*font-size: 12px;*/
  /*font-weight: 800;*/
  /*color: #fff;*/
  /*padding: 0 23px;*/
  /*text-transform: uppercase;*/
  /*background: #FF8625;*/

/*}*/

/*!** ====== Feature List styles ====== **!*/


/*#feature-list {*/
  /*background: #F6F9F9;*/
  /*padding: 120px 0;*/
/*}*/
/*#feature-list .row {*/
  /*margin-left: -20px;*/
  /*margin-right: -20px;*/
/*}*/
/*#feature-list .tab-row {*/
  /*margin-top: 60px;*/
/*}*/
/*#feature-list .col-lg-5,*/
/*#feature-list .col-lg-7 {*/
  /*padding: 0 20px;*/
/*}*/
/*#feature-list .tab-title li span {*/
  /*display: block;*/
  /*line-height: 60px;*/
  /*background: #fff;*/
  /*margin-bottom: 10px;*/
  /*font-size: 18px;*/
  /*font-weight: 600;*/
  /*padding: 0 20px;*/
  /*cursor: pointer;*/
  /*position: relative;*/
  /*transition: all .3s ease;*/
/*}*/
/*#feature-list .tab-title li span:before {*/
  /*background: #7db9e8;*/
  /*background: -moz-linear-gradient(left, #7db9e8 0%, #7c49ab 0%, #1eb089 100%);*/
  /*background: -webkit-gradient(linear, left top, right top, color-stop(0%, #7db9e8), color-stop(0%, #7c49ab), color-stop(100%, #1eb089));*/
  /*background: -webkit-linear-gradient(left, #7db9e8 0%, #7c49ab 0%, #1eb089 100%);*/
  /*background: -o-linear-gradient(left, #7db9e8 0%, #7c49ab 0%, #1eb089 100%);*/
  /*background: -ms-linear-gradient(left, #7db9e8 0%, #7c49ab 0%, #1eb089 100%);*/
  /*background: linear-gradient(to right, #7db9e8 0%, #7c49ab 0%, #1eb089 100%);*/
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db9e8', endColorstr='#1eb089', GradientType=1);*/
/*}*/
/*#feature-list .tab-title li span:hover,*/
/*#feature-list .tab-title li span.active {*/
  /*background: none;*/
  /*z-index: 1;*/
  /*color: #fff;*/
/*}*/
/*#feature-list .tab-title li span:hover:before,*/
/*#feature-list .tab-title li span.active:before {*/
  /*-webkit-transform: scaleX(1);*/
  /*transform: scaleX(1);*/
  /*-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);*/
  /*transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);*/
/*}*/
/*#feature-list .tab-title li span.active:after {*/
  /*border-left-color: #1eb089;*/
/*}*/
/*#feature-list .tab-title li span:after {*/
  /*position: absolute;*/
  /*right: -30px;*/
  /*content: '';*/
  /*width: 0;*/
  /*height: 0;*/
  /*border-top: 30px solid transparent;*/
  /*border-bottom: 30px solid transparent;*/
  /*border-left: 30px solid transparent;*/
/*}*/
/*#feature-list .tab-content-box {*/
  /*background: #fff;*/
  /*padding: 42px;*/
/*}*/
/*#feature-list .tab-content-box h3 {*/
  /*font-size: 24px;*/
  /*color: #374045;*/
  /*font-weight: 700;*/
  /*line-height: 25px;*/
/*}*/
/*#feature-list .tab-content-box p {*/
  /*font-weight: 500;*/
  /*color: #929FA8;*/
/*}*/
/*#feature-list .tab-content-box .img-box img {*/
  /*float: left;*/
/*}*/
/*#feature-list .tab-content-box .img-box p {*/
  /*float: left;*/
  /*width: 65%;*/
  /*margin-left: 20px;*/

/*}*/

/*!** ====== Why Choose Us styles ====== **!*/


/*#why-choose-us {*/
  /*padding: 120px 0;*/
/*}*/
/*#why-choose-us .single-why-choose-us {*/
  /*text-align: center;*/
  /*padding: 60px 0;*/
  /*border-right: 1px solid #F2F2F2;*/
  /*border-bottom: 1px solid #F2F2F2;*/
  /*margin-left: -15px;*/
  /*margin-right: -15px;*/
/*}*/
/*#why-choose-us .single-why-choose-us .icon-box {*/
  /*width: 80px;*/
  /*height: 80px;*/
  /*text-align: center;*/
  /*border-radius: 50%;*/
  /*overflow: hidden;*/
  /*padding: 24px 0;*/
  /*margin: 0 auto 40px;*/
/*}*/
/*#why-choose-us .single-why-choose-us .icon-box:before {*/
  /*z-index: -1;*/
  /*transform: rotate(180deg);*/
/*}*/
/*#why-choose-us .single-why-choose-us h3 {*/
  /*font-size: 18px;*/
  /*font-weight: 600;*/
  /*color: #374045;*/
  /*line-height: 25px;*/
/*}*/
/*#why-choose-us .bdbn .single-why-choose-us {*/
  /*border-bottom: 0px solid #F2F2F2;*/
  /*padding-bottom: 0;*/
/*}*/
/*#why-choose-us .pdtn .single-why-choose-us {*/
  /*padding-top: 0;*/
/*}*/
/*#why-choose-us .bdrn .single-why-choose-us {*/
  /*border-right: 0px solid #F2F2F2;*/
/*}*/
/*#why-choose-us .why-choose-us-text-row {*/
  /*margin-top: 60px;*/

/*}*/

/*!** ====== Single Blog Post styles ====== **!*/


/*#single-blog-post {*/
  /*background: #F6F9F9;*/
  /*padding: 80px 0;*/
/*}*/
/*#single-blog-post .col-lg-12 .content-holder {*/
  /*background: #fff;*/
  /*padding: 30px 30px;*/
/*}*/
/*#single-blog-post .col-lg-12 .content-holder .img-holder {*/
  /*margin-bottom: 50px;*/
/*}*/
/*#single-blog-post .col-lg-12 .content-holder .img-holder img {*/
  /*width: 100%;*/
/*}*/
/*#single-blog-post .col-lg-12 .content-holder .post-title h1 {*/
  /*color: #374045;*/
  /*font-weight: 700;*/
  /*font-size: 30px;*/
  /*line-height: 36px;*/
  /*margin-bottom: 20px;*/
/*}*/
/*#single-blog-post .col-lg-12 .content-holder .content p {*/
  /*font-size: 14px;*/
  /*font-weight: 500;*/
  /*line-height: 26px;*/
  /*margin-bottom: 30px;*/
/*}*/
/*#single-blog-post .col-lg-12 .content-holder .post-meta {*/
  /*font-weight: 700;*/
  /*color: #374045;*/
/*}*/
/*#single-blog-post .col-lg-12 .content-holder .post-meta a {*/
  /*color: #FF8625;*/
/*}*/
/*#single-blog-post .col-lg-12.comment-section {*/
  /*background: #fff;*/
  /*margin-top: 30px;*/
  /*padding: 30px;*/
/*}*/
/*#single-blog-post .col-lg-12.comment-section .comment-title {*/
  /*margin-bottom: 30px;*/
/*}*/
/*#single-blog-post .col-lg-12.comment-section .comment-title h1 {*/
  /*color: #374045;*/
  /*font-weight: 700;*/
  /*font-size: 30px;*/
  /*line-height: 36px;*/
  /*margin-bottom: 20px;*/
/*}*/
/*#single-blog-post .col-lg-12.comment-section .comment-holder {*/
  /*padding: 0 100px;*/
/*}*/
/*#single-blog-post .col-lg-12.comment-section .comment-holder .single-comment {*/
  /*margin-bottom: 50px;*/
/*}*/
/*#single-blog-post .col-lg-12.comment-section .comment-holder .single-comment:last-child {*/
  /*margin-bottom: 0;*/
/*}*/
/*#single-blog-post .col-lg-12.comment-section .comment-holder .single-comment .img-holder img {*/
  /*border-radius: 50%;*/
  /*margin-top: 5px;*/
/*}*/
/*#single-blog-post .col-lg-12.comment-section .comment-holder .single-comment .comment-content {*/
  /*width: 85%;*/
  /*margin-left: 25px;*/
  /*position: relative;*/
/*}*/
/*#single-blog-post .col-lg-12.comment-section .comment-holder .single-comment .comment-content h3 {*/
  /*font-weight: 600;*/
  /*color: #374045;*/
  /*font-size: 18px;*/
  /*margin: 0;*/
  /*margin-bottom: 10px;*/
/*}*/
/*#single-blog-post .col-lg-12.comment-section .comment-holder .single-comment .comment-content span.time {*/
  /*color: #FF8625;*/
  /*font-size: 13px;*/
  /*display: block;*/
  /*margin-bottom: 10px;*/
/*}*/
/*#single-blog-post .col-lg-12.comment-section .comment-holder .single-comment .comment-content p {*/
  /*font-weight: 500;*/
/*}*/
/*#single-blog-post .col-lg-12.comment-section .comment-holder .single-comment .comment-content .reply-button {*/
  /*display: inline-block;*/
  /*position: absolute;*/
  /*right: 0;*/
  /*top: 0;*/
  /*background: #FF8625;*/
  /*line-height: 30px;*/
  /*color: #fff;*/
  /*padding: 0 15px;*/
  /*font-size: 13px;*/
  /*text-transform: uppercase;*/
  /*font-weight: 600;*/
  /*border-radius: 5px;*/
  /*border: 2px solid transparent;*/
  /*transition: all .3s ease;*/
/*}*/
/*#single-blog-post .col-lg-12.comment-section .comment-holder .single-comment .comment-content .reply-button:hover {*/
  /*border-color: #FF8625;*/
  /*color: #FF8625;*/
/*}*/
/*#single-blog-post .col-lg-12.comment-section .comment-holder .single-comment .comment-content .reply-button:before {*/
  /*background: #fff;*/
/*}*/
/*#single-blog-post .col-lg-12.comment-form-section {*/
  /*background: #fff;*/
  /*margin-top: 30px;*/
  /*padding: 30px;*/
/*}*/
/*#single-blog-post .col-lg-12.comment-form-section .form-title {*/
  /*margin-bottom: 30px;*/
/*}*/
/*#single-blog-post .col-lg-12.comment-form-section .form-title h1 {*/
  /*color: #374045;*/
  /*font-weight: 700;*/
  /*font-size: 30px;*/
  /*line-height: 36px;*/
  /*margin-bottom: 20px;*/
/*}*/
/*#single-blog-post .col-lg-12.comment-form-section .comment-form {*/
  /*padding: 0 100px;*/
/*}*/
/*#single-blog-post .col-lg-12.comment-form-section .comment-form ul {*/
  /*margin-left: -10px;*/
  /*margin-right: -10px;*/
/*}*/
/*#single-blog-post .col-lg-12.comment-form-section .comment-form ul li {*/
  /*margin-bottom: 30px;*/
  /*padding: 0 10px;*/
/*}*/
/*#single-blog-post .col-lg-12.comment-form-section .comment-form ul li:last-child {*/
  /*margin-bottom: 0;*/
/*}*/
/*#single-blog-post .col-lg-12.comment-form-section .comment-form ul li.half {*/
  /*width: 50%;*/
  /*float: left;*/
/*}*/
/*#single-blog-post .col-lg-12.comment-form-section .comment-form ul li.full {*/
  /*width: 100%;*/
/*}*/
/*#single-blog-post .col-lg-12.comment-form-section .comment-form ul li input {*/
  /*width: 100%;*/
  /*border: 1px solid #ccc;*/
  /*height: 45px;*/
  /*padding: 0 20px;*/
  /*border-radius: 5px;*/
  /*line-height: 45px;*/
  /*outline: none;*/
  /*transition: all .3s ease;*/
/*}*/
/*#single-blog-post .col-lg-12.comment-form-section .comment-form ul li textarea {*/
  /*width: 100%;*/
  /*border: 1px solid #ccc;*/
  /*height: 200px;*/
  /*padding: 20px 20px;*/
  /*border-radius: 5px;*/
  /*outline: none;*/
  /*transition: all .3s ease;*/
/*}*/
/*#single-blog-post .col-lg-12.comment-form-section .comment-form ul li input:focus,*/
/*#single-blog-post .col-lg-12.comment-form-section .comment-form ul li input:hover,*/
/*#single-blog-post .col-lg-12.comment-form-section .comment-form ul li textarea:hover,*/
/*#single-blog-post .col-lg-12.comment-form-section .comment-form ul li textarea:focus {*/
  /*border-color: transparent;*/
  /*box-shadow: 0 0 5px 3px rgba(255, 137, 37, 0.2);*/
/*}*/
/*#single-blog-post .col-lg-12.comment-form-section .comment-form ul li button {*/
  /*background: #FF8625;*/
  /*border: 2px solid transparent;*/
  /*outline: none;*/
  /*color: #fff;*/
  /*border-radius: 5px;*/
  /*line-height: 40px;*/
  /*padding: 0 25px;*/
  /*font-weight: 600;*/
  /*text-transform: uppercase;*/
/*}*/
/*#single-blog-post .col-lg-12.comment-form-section .comment-form ul li button:active,*/
/*#single-blog-post .col-lg-12.comment-form-section .comment-form ul li button:focus,*/
/*#single-blog-post .col-lg-12.comment-form-section .comment-form ul li button:hover {*/
  /*color: #FF8625;*/
/*}*/
/*#single-blog-post .col-lg-12.comment-form-section .comment-form ul li button:before {*/
  /*border-radius: 5px;*/
  /*background: #fff;*/
/*}*/


/*!** ====== Preloader styles ====== **!*/

/*.preloader {*/
    /*position: fixed;*/
    /*left: 0px;*/
    /*top: 0px;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*z-index: 999999999;*/
    /*background-color: #ffffff;*/
    /*background-position: center center;*/
    /*background-repeat: no-repeat;*/
    /*background-image: url(../img/resources/preloader.gif);*/
/*}*/
