.bstimeslider, .bstimeslider14, .bstimeslider15, .bstimeslider16{

    /*width:1220px;*/
    width:100%;
    height:60px;
    background:#878686;
    position:relative;
}

.bktibx {

    float:left;
    margin:0 10px 0 0 ;
    font-size:14px;
    width:80px;
    display:block;
    /*background:#000;*/
    /*color:#333;*/
}
.bktibx a {

    float:left;
    padding: 10px 15px;
    color:#ddd;
    /*text-align: center;*/
}
.bktibx a:hover, .bktibx a:active, .bktibx a:focus {
    /*border-bottom: 4px solid #fff;*/

}

#tslshow, #tslshow14, #tslshow15, #tslshow16{
    position:absolute;
    left:30px;
    width:100%;
}

.leftArrow, .leftArrow14, .leftArrow15, .leftArrow16 {

    width:32px;
    height:60px;
    background:#585858;
    border: 1px solid #ccc;
    position:absolute;
    left:0px;
    padding:8px 10px;
    z-index: 10;
}
.leftArrow::after, .leftArrow14::after, .leftArrow15::after, .leftArrow16::after {

    content:"\f104";
    font-family: FontAwesome;
    font-size:18px;
}

.rightArrow, .rightArrow14, .rightArrow15, .rightArrow16 {

    width:32px;
    height:60px;
    background:#585858;
    border: 1px solid #ccc;
    position:absolute;
    right:0px;
    padding:8px 10px;
    z-index: 10;
}
.rightArrow::after, .rightArrow14::after, .rightArrow15::after, .rightArrow16::after{
    content:"\f105";
    font-family: FontAwesome;
    font-size:18px;
}
.viewContainer,.viewContainer14,.viewContainer15,.viewContainer16 {
    width: 100%;
    /*width:1155px;*/
    height:100%;
    background:#878686;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:0px;
    overflow:hidden;
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    transform: translate(-50%, -50%);
}

/*--------2-------------*/

.bstimeslider2 {

    /*width:1220px;*/
    width:100%;
    height:auto;
    min-height: 100px;
    background:#A0A1A2;
    position:relative;
}
.leftArrow2 {

    width:32px;
    height:100px;
    background:#585858;
    border: 1px solid #ccc;
    position:absolute;
    left:0px;
    padding:30px 10px;
    z-index: 10;
}
.leftArrow2::after{

    content:"\f104";
    font-family: FontAwesome;
    font-size: 18px;
}

.rightArrow2 {

    width:32px;
    height:100px;
    background:#585858;
    border: 1px solid #ccc;
    position:absolute;
    right:0px;
    padding:30px 10px;
    z-index: 10;
}
.rightArrow2::after {
    content:"\f105";
    font-family: FontAwesome;
    font-size: 18px;
}

.viewContainer2 {
    /*width:1157px;*/
    width: 100%;
    height:100%;
    background:#707070;
    text-align: left;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:0px;
    overflow:hidden;
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    transform: translate(-50%, -50%);
}

.bstimeslider2  h4 {
    margin-left: 20px!important;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}
#tslshow2 {
    position:absolute;
    left:30px;
    width:100%;

}

/*------------3-------------*/
#tslshow3 {
    position:absolute;
    left:30px;
    width:100%;

}
.viewContainer3 {
    /*width:1155px;*/
    width: 100%;
    height:100%;
    background:#707070;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:0px;
    overflow:hidden;
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    transform: translate(-50%, -50%);
}
.bstimeslider3 {
    width:100%;
    /*width:1220px;*/
    height:auto;
    min-height: 100px;
    background:#707070;
    position:relative;
}
.leftArrow3 {

    width:32px;
    height:100px;
    background:#585858;
    border: 1px solid #ccc;
    position:absolute;
    left:0px;
    padding:30px 10px;
    z-index: 10;
}
.leftArrow3::after{

    content:"\f104";
    font-family: FontAwesome;
    font-size: 18px;
}

.rightArrow3 {

    width:32px;
    height:100px;
    background:#585858;
    border: 1px solid #ccc;
    position:absolute;
    right:0px;
    padding:30px 10px;
    z-index: 10;
}
.rightArrow3::after {
    content:"\f105";
    font-family: FontAwesome;
    font-size: 18px;
}

/*------------4-------------*/
#tslshow4, #tslshow5,#tslshow6,#tslshow7,#tslshow8,#tslshow9,#tslshow10,#tslshow11,#tslshow12,#tslshow13 {
    position:absolute;
    left:30px;
    width:100%;

}
.viewContainer4,.viewContainer5,.viewContainer6,.viewContainer7,.viewContainer8,.viewContainer9,.viewContainer10,.viewContainer11,.viewContainer12,.viewContainer13 {
    /*width:1155px;*/
    width: 100%;
    height:100%;
    background:#707070;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:0px;
    overflow:hidden;
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    transform: translate(-50%, -50%);
}
.bstimeslider4, .bstimeslider5, .bstimeslider6, .bstimeslider7, .bstimeslider8, .bstimeslider9, .bstimeslider10, .bstimeslider11, .bstimeslider12, .bstimeslider13{
    width:100%;
    /*width:1220px;*/
    height:auto;
    min-height: 100px;
    background:#707070;
    position:relative;
}
.leftArrow4, .leftArrow5, .leftArrow6, .leftArrow7, .leftArrow8, .leftArrow9, .leftArrow10, .leftArrow11, .leftArrow12, .leftArrow13{

    width:32px;
    height:100px;
    background:#585858;
    border: 1px solid #ccc;
    position:absolute;
    left:0px;
    padding:30px 10px;
    z-index: 10;
}
.leftArrow4::after, .leftArrow5::after, .leftArrow6::after, .leftArrow7::after, .leftArrow8::after, .leftArrow9::after, .leftArrow10::after, .leftArrow11::after, .leftArrow12::after, .leftArrow13::after{
    content:"\f104";
    font-family: FontAwesome;
    font-size: 18px;
}

.rightArrow4, .rightArrow5, .rightArrow6, .rightArrow7, .rightArrow8, .rightArrow9, .rightArrow10, .rightArrow11, .rightArrow12, .rightArrow13{

    width:32px;
    height:100px;
    background:#585858;
    color: #fff!important;
    border: 1px solid #ccc;
    position:absolute;
    right:0px;
    padding:30px 10px;
    z-index: 10;
}
.rightArrow4::after, .rightArrow5::after, .rightArrow6::after, .rightArrow7::after, .rightArrow8::after, .rightArrow9::after, .rightArrow10::after, .rightArrow11::after, .rightArrow12::after, .rightArrow13::after{
    content:"\f105" !important;
    font-family: FontAwesome;
    font-size: 18px;
}
.bold p {
    margin-left: 30px;
}
